@import url("@globalStyles/_constant.css");

.native-button {
   background-color: var(--color-primary);
   color: var(--color-white);
   border-radius: var(--radius-sm);
   padding: var(--space-sm);

   &:hover {
     background-color: var(--color-primary-hover);
   }
}